<footer>
  <div class="contact">
    <p>Contactez nous</p>
    <div class="icons">
      <a
        href="https://www.instagram.com/jolle.ptk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        ><img src="img/instagram 2.png" alt=""
      /></a>
      <a href="#"><img src="img/mail 2.png" alt="" /></a>
    </div>
  </div>

  <div class="ecoute">
    <p>Ecoutez nous</p>
    <div class="icons">
      <a
        href="https://open.spotify.com/intl-fr/artist/6iBB08eTj4dxsbpaXIUJdQ?si=PUjLwUyNRzy03AjJzfDEXA"
        ><img src="img/spotify 2.svg" alt=""
      /></a>
      <a href="https://www.youtube.com/@jolleptk"
        ><img src="img/youtube 2.svg" alt=""
      /></a>
      <a href="#"><img src="img/deezer 1.svg" alt="" /></a>
    </div>
  </div>

  <form class="news">
    <p>Newsletter</p>
    <div class="email">
      <input
        id="email"
        type="email"
        placeholder="entrez votre email"
        required
      />
      <button type="submit">envoyer</button>
    </div>
  </form>

  <div class="politique">
    <p>2025 356xx</p>
    <p>berlin</p>
    <p>terms</p>
    <p>politicy</p>
  </div>
</footer>
