* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Antique Legacy Trial";
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px 15px 32px 15px;
}

.nav img {
  width: 118px;
}

p {
  color: #341e47;
  font-size: 24px;
  font-weight: 400;
}

.icons {
  display: flex;
  gap: 16px;
}

.icons img {
  width: 24px;
}

.slider {
  position: relative;
}

.slider .artiste {
  width: 100%;
  object-fit: cover;
  height: 611px;
  object-position: top;
  overflow: hidden;
}

.slider .artiste {
  width: 100%;
  object-fit: cover;
  display: block;
}

.slider .info {
  display: flex;
  flex-direction: column;
  gap: 128px;
  align-items: end;
  position: absolute;
  top: 50%;
  right: 0px;
  margin: 0px 15px;
}

.slider h1 {
  color: #f5edf8;
  font-family: "Antique Legacy Trial";
  font-size: 128px;
  text-transform: uppercase;
  font-weight: 700;
}

main {
  margin: 96px 15px 0px 0px;
}
.content h2 {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-40, 40px);
  font-weight: 250;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding: 24px 32px 2px 15px;
  width: 384px;
  background-color: var(--Colors-violet-light, #f5edf8);
}

.jolle,
.cary,
.skuff,
.diep,
.mariybu,
.yetundey,
.satarii,
.mimii {
  display: flex;
  flex-direction: column;
  max-width: 699px;
}

.skuff,
.diep,
.mariybu,
.yetundey {
  max-width: 345px;
  font-size: 56px;
  margin: 0px 0px 75px 0px;
}

.bottom,
.top {
  display: flex;
  gap: 8px;
}

.artistes {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-left: 15px;
  position: relative;
}

.content h3 {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Void Trial";
  font-weight: 700;
  margin: 0px;
}

.jolle,
.satarii {
  font-size: 128px;
  margin: 0px 0px 64px 0px;
}

.cary,
.mimii {
  font-size: 96px;
  text-transform: uppercase;
  margin: 0px 0px 56px 0px;
}

.satarii {
  text-transform: uppercase;
}

.jolle h3 {
  padding-left: 30px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 99%;
}

.contact .icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ecoute .icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ecoute {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.politique {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 56px 100px 128px 100px;
  background-color: #341e47;
  display: flex;
  justify-content: space-evenly;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}

footer p {
  color: var(--Colors-violet-light, #f5edf8);
  font-size: 16px;
}

footer .icons img {
  width: 20px;
}

.email {
  color: var(--Colors-violet-light, #f5edf8);
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  gap: 0px;
}

button {
  border: none;
  background-color: #f5edf8;
  padding: 4px;
  color: #341e47;
}

input {
  border: #f5edf8 1px solid;
  padding: 3px;
  background-color: #341e47;
  color: #f5edf8;
}

.slider-artiste {
  margin: 0px;
}

.slider-artiste .presentation {
  width: 100%;
  object-fit: cover;
  height: 611px;
  object-position: top 60%;
  overflow: hidden;
}

.slider-artiste .presentation {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 128px;
  align-items: end;
  position: absolute;
  top: 45%;
  right: 0px;
  margin: 0px 15px;
}

.content-artiste {
  margin: 64px 100px 100px 100px;
}

.slider-artiste h2 {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Void Trial";
  font-size: var(--Spaces-128, 128px);
  font-weight: 400;
}

.content-artiste p {
  width: 601px;
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 300;
}

.reseaux {
  display: flex;
  gap: 32px;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.clips img {
  width: 600px;
}

.clips {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.gelogen img,
.petrichor img,
.arsch img {
  width: 183px;
}

.gelogen,
.petrichor,
.arsch {
  display: flex;
  align-items: end;
  gap: 32px;
}

.morceaux .title {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.morceaux .type {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.morceaux {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.morceaux h1 {
  color: var(--Colors-orange, #b87313);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 300;
  text-transform: uppercase;
}

.date h1 {
  color: var(--Colors-orange, #b87313);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 300;
  text-transform: uppercase;
}

.annee {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 450;
  text-transform: uppercase;
  margin: 32px 0px 8px 0px;
}

.infos-tickets {
  display: flex;
  align-items: center;
  gap: 32px;
}

.lieu {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 400;
}

.sold-out {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tickets {
  color: var(--Colors-background, #fff);
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  padding: 6px;
  background-color: #341e47;
}

.dates-complete {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.content-artiste {
  display: flex;
  gap: 137px;
}
