* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Antique Legacy Trial";
}

@font-face {
  font-family: "Void Trial";
  src: url("../fonts/Void/Void-Regular/Void-Regular-Trial.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Void Trial";
  src: url("../fonts/Void/Void-Bold/Void-Bold-Trial.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Antique Legacy Trial";
  src: url("../fonts/Antique-Legacy/Antique-Legacy-Regular/Antique-Legacy-Regular-Trial.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Antique Legacy Trial";
  src: url("../fonts/Antique-Legacy/Antique-Legacy-Thin/Antique-Legacy-Thin-Trial.otf")
    format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Antique Legacy Trial";
  src: url("../fonts/Antique-Legacy/Antique-Legacy-Bold/Antique-Legacy-Bold-Trial.otf")
    format("opentype");
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px 15px 32px 15px;
}

.nav img {
  width: 118px;
}

p {
  color: #341e47;
  font-size: 24px;
  font-weight: 400;
}

.icons {
  display: flex;
  gap: 16px;
}

.icons img {
  width: 24px;
}

.slider {
  position: relative;
}

.slider .artiste {
  width: 100%;
  object-fit: cover;
  height: 611px;
  object-position: top;
  overflow: hidden;
}

.slider .artiste {
  width: 100%;
  object-fit: cover;
  display: block;
}

.slider .info {
  display: flex;
  flex-direction: column;
  gap: 128px;
  align-items: end;
  position: absolute;
  top: 50%;
  right: 0px;
  margin: 0px 15px;
}

.slider h1 {
  color: #f5edf8;
  font-family: "Antique Legacy Trial";
  font-size: 128px;
  text-transform: uppercase;
  font-weight: 700;
}

main {
  margin: 96px 15px 0px 0px;
}
.content h2 {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-40, 40px);
  font-weight: 250;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding: 24px 32px 2px 15px;
  width: 384px;
  background-color: var(--Colors-violet-light, #f5edf8);
}

.jolle a img,
.cary img,
.skuff img,
.diep img,
.mariybu img,
.yetundey img,
.satarii img,
.mimii img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.jolle,
.cary,
.skuff,
.diep,
.mariybu,
.yetundey,
.satarii,
.mimii {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jolle:hover,
.cary:hover,
.skuff:hover,
.diep:hover,
.mariybu:hover,
.yetundey:hover,
.satarii:hover,
.mimii:hover {
  transform: scale(0.98);
}

.skuff,
.diep,
.mariybu,
.yetundey {
  max-width: 100%;
  font-size: 56px;
  margin: 0px 0px 75px 0px;
}

.bottom,
.top {
  display: flex;
  gap: 8px;
}

.artistes {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-left: 15px;
}

.content h3,
.jolle a {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Void Trial";
  font-weight: 700;
  margin: 0px;
  text-decoration: none;
}

.jolle a img {
  max-width: 100%;
}

.cary,
.mimii {
  font-size: 96px;
  text-transform: uppercase;
  margin: 0px 0px 56px 0px;
}

.satarii {
  text-transform: uppercase;
  font-size: 128px;
  margin: 0px 0px 64px 0px;
}

.jolle a .lien-nom {
  margin-bottom: 89px;
  padding-left: 30px;
  font-size: 128px;
}

.jolle {
  position: relative;
}

.bg-square-container {
  position: relative;
}

.bg-square-violet {
  position: absolute;
  background-color: hsla(284, 44%, 95%, 1);
  top: 21%;
  left: 0;
  right: 10%;
  bottom: 5%;
  z-index: -1;
}

.contact .icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ecoute .icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ecoute {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.politique {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #341e47;
  display: flex;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 56px 100px 128px 100px;
}

footer p {
  color: var(--Colors-violet-light, #f5edf8);
  font-size: 16px;
}

footer .icons img {
  width: 20px;
}

.email {
  color: var(--Colors-violet-light, #f5edf8);
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  gap: 0px;
}

button {
  border: none;
  background-color: #f5edf8;
  padding: 4px;
  color: #341e47;
}

input {
  border: #f5edf8 1px solid;
  padding: 3px;
  background-color: #341e47;
  color: #f5edf8;
}

.slider-artiste {
  margin: 0px;
}

.slider-artiste .presentation {
  width: 100%;
  object-fit: cover;
  height: 611px;
  object-position: top 60%;
  overflow: hidden;
}

.slider-artiste .presentation {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 128px;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0px;
  margin: 0px 15px;
}

.content-artiste {
  margin: 64px 100px 100px 100px;
}

.slider-artiste h2 {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Void Trial";
  font-size: var(--Spaces-128, 128px);
  font-weight: 400;
  margin-left: 32px;
}

.content-artiste p {
  max-width: 100%;
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 300;
}

.reseaux {
  display: flex;
  gap: 32px;
}

.reseaux img {
  width: 28px;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.clips img {
  width: 100%;
}

.clips {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.left-artistes {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.gelogen img,
.petrichor img,
.arsch img {
  width: 183px;
}

.gelogen,
.petrichor,
.arsch {
  display: flex;
  align-items: end;
  gap: 32px;
}

.morceaux .title {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 24px;
  font-weight: 300;
  max-width: 100%;
}

.morceaux .type {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 20px;
  font-weight: 300;
}

.morceaux {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.morceaux h1,
.date h1 {
  color: var(--Colors-orange, #b87313);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 300;
  text-transform: uppercase;
}

.annee {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-24, 24px);
  font-weight: 450;
  text-transform: uppercase;
  margin: 32px 0px 8px 0px;
}

.infos-tickets {
  display: flex;
  align-items: center;
  gap: 32px;
}

.lieu {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 20px;
  font-weight: 400;
}

.sold-out {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: 15px;
  font-weight: 700;
}

.tickets {
  color: var(--Colors-background, #fff);
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  padding: 6px;
  background-color: #341e47;
}

.dates-complete {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-artistes {
  display: flex;
  flex-direction: column;
  gap: 144px;
}

.content-artiste {
  display: flex;
  gap: 137px;
}

.artiste-pv {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.pv-artistes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  justify-content: center;
  padding: 0px 15px;
}

.pv-artistes img {
  width: 100%;
  height: auto;
}

.pv-artistes {
  width: 100%;
}

.pour-vous {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 50px 0px;
  background-color: #f5edf8;
}

.nom-artiste {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Void Trial";
  font-size: 30px;
  font-weight: 400;
}

.pv {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Spaces-48, 48px);
  font-weight: 600;
  margin: 0px 15px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .nav img {
    width: 70px;
  }

  p {
    font-size: 14px;
  }

  .icons {
    gap: 8px;
  }

  .icons img {
    width: 16px;
  }

  main {
    margin: 96px 8px 0px 0px;
  }

  .content h2 {
    font-size: 24;
    font-weight: 250;
    width: 200px;
  }

  .artistes {
    flex-direction: column;
    margin-left: 8px;
  }

  .skuff,
  .diep,
  .mariybu,
  .yetundey {
    font-size: 28px;
    margin: 0px 0px 32px 0px;
  }

  .jolle a img {
    max-width: 100%;
  }

  .cary,
  .mimii {
    font-size: 64px;
    margin: 0px 0px 36px 0px;
  }

  .satarii {
    text-transform: uppercase;
    font-size: 108px;
    margin: 0px 0px 48px 0px;
  }

  .jolle a .lien-nom {
    margin-bottom: 40px;
    font-size: 108px;
  }

  .bg-square-violet {
    top: 20%;
    left: 0;
    right: 12%;
    bottom: 3%;
    z-index: -1;
  }

  footer {
    flex-direction: column;
    gap: 24px;
    padding: 56px 100px 128px 50px;
  }
  footer p {
    font-size: 12px;
  }

  footer .icons img {
    width: 16px;
  }

  .content-artiste {
    margin: 32px 50px 56px 50px;
  }

  .content-artiste {
    flex-direction: column;
    gap: 108px;
  }

  .content-artiste p {
    font-size: 20px;
  }

  .reseaux {
    gap: 16px;
  }

  .reseaux img {
    width: 20px;
  }

  .clips {
    gap: 32px;
  }

  .left-artistes,
  .right-artistes,
  .content-artiste {
    gap: 64px;
  }

  .gelogen img,
  .petrichor img,
  .arsch img {
    width: 100px;
  }

  .gelogen,
  .petrichor,
  .arsch {
    gap: 16px;
  }

  .morceaux .title {
    font-size: 20px;
    max-width: 200px;
  }

  .morceaux .type {
    font-size: 16px;
  }

  .morceaux h1,
  .date h1 {
    font-size: 20px;
  }

  .annee {
    font-size: 20px;
    margin: 24px 0px 8px 0px;
  }

  .lieu {
    font-size: 16;
  }

  .sold-out {
    font-size: 16px;
  }

  .tickets {
    font-size: 12px;
  }

  .dates-complete {
    gap: 12px;
  }

  .pv-artistes {
    gap: 4px;
    padding: 0px 8px;
  }

  .pour-vous {
    gap: 20px;
    padding: 20px 0px;
  }

  .nom-artiste {
    font-size: 20px;
    font-weight: 400;
  }

  .pv {
    font-size: 32;
    margin: 0px 8px;
  }
}
