* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Antique Legacy Trial";
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 32px 15px;
}

.nav img {
  width: 144.321px;
  height: 116px;
}

p {
  color: #341e47;
  font-size: 24px;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 16px;
}

.icons img {
  width: 24px;
}

.slider {
  position: relative;
}

.slider .artiste {
  width: 100%;
  object-fit: cover;
  height: 611px;
  object-position: top;
  overflow: hidden;
}

.slider .artiste {
  width: 100%;
  object-fit: cover;
  display: block;
}

/*.slider img {
  width: 24px;
}
*/
.slider .info {
  display: flex;
  flex-direction: column;
  gap: 128px;
  align-items: end;
  position: absolute;
  top: 50%;
  right: 0px;
  margin: 0px 15px;
}

.slider h1 {
  color: #f5edf8;
  font-family: "Antique Legacy Trial";
  font-size: 128px;
  text-transform: uppercase;
  font-weight: 700;
}

main {
  margin: 128px 15px 0px 15px;
}

.content h2 {
  color: var(--Colors-violet-dark, #341e47);
  font-family: "Antique Legacy Trial";
  font-size: var(--Text-40, 40px);
  font-weight: 250;
  text-transform: uppercase;
}

.jolle,
.cary,
.skuff,
.diep,
.mariybu,
.yetundey,
.satarii,
.mimii {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.skuff,
.diep,
.mariybu,
.yetundey {
  max-width: 345px;
}

.bottom,
.top {
  display: flex;
  gap: 8px;
}

.content .artiste {
  display: flex;
}
